<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Toysly</title>
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<header class="wrapper" id="fh5co-header" role="banner">
		<div class="center">
		<h1><a href="{% url 'home' %}"><img class="im" src="{% static 'images/toyslylogo.png' %}" alt="Toysly" /></a></h1>
	</div>
	<div class="container text-center">
		<nav>
			<ul>
				{% if user.is_authenticated %}
				<li>
					<form class="logout-link, center" action="{% url 'accounts:logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>
				</li>
				<li><a href="{% url 'accounts:become_seller' %}" class="highlight">Become A Seller!</a></li>
				<li><a href="{% url 'store:add_product' %}" class="highlight">Add Product</a></li>
				<li><a href="{% url 'about' %}" class="highlight">About</a></li>

				{% else %}
				<div class="center"><li> <a href="{% url 'accounts:login' %}">Login</a></li> </div>
                <div class="center"><li><a href="{% url 'accounts:signup' %}">Signup</a></li> </div>
                <li><a href="{% url 'about' %}" class="highlight">About</a></li>

				{% endif %}
			</ul>
		</nav>
		</div>
	</header>
	<div class="wrapper">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>