{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Toysly </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="static/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">


	</head>
	<body>
		<script src="static/js/modernizr-2.6.2.min.js"></script>


		<div class="container-fluid pt70 pb70" style="text-align: center;">
			<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry container" style="text-align: center;"> 
			{% for category in categories %}
				<div class="fh5co-project masonry-brick" style="padding-left: 100px; margin-top: -15px;">
					<a href="{% url 'store:category' category.category_slug %}"><img style="max-width: 40vh; margin-bottom: -40px;" src="{{ category.category_image.url }}" style="text-align: center; margin-bottom: -100px;"></a>
					<!-- <a href="{% url 'store:category' category.category_slug %}" style="padding-left: 110px; margin-top: -65px"><h2>{{ category.category_name }}</h2></a> -->
					<div class="container" style="padding-right: 875px">
					<a href="{% url 'store:category' category.category_slug %}" style="margin-top: -65px;"> <button style="background-color: lightseagreen; width: 80px; border: 1px solid transparent; border-radius: 1px; box-sizing: border-box; color: white; cursor: pointer; font-size: 11px; font-weight: 750; line-height: 1.15385; margin: 0; outline: none; padding: 8px .8em; position: relative; text-align: center; text-decoration: none; user-select: none;  -webkit-user-select: none; touch-action: manipulation; white-space: nowrap; margin-top: -65px;" role="button" type="submit"> {{ category.category_name }} </button> </a>
				</div>
				</div>
			 {% endfor %}
			</div>
		</div>


		<footer id="fh5co-footer" role="contentinfo">
		<div class="container-fluid">
			<div class="footer-content">
				<div class="copyright"><small>&copy; 2021 Toysly. All Rights Reserved</small></div>
			</div>
		</div>
	</footer>


	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.masonry.min.js"></script>
	<script src="static/js/main.js"></script>
		


	</body>
</html>
{% endblock %}