{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Toysly </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="static/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Mountains of Christmas' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
	
	<link rel="stylesheet" href="../../../static/css/styles.css">
	<link rel="stylesheet" href="../../../static/css/style.css">
	<link rel="stylesheet" href="../../../static/css/animate.css">
	<link rel="stylesheet" href="../../../static/css/icomoon.css">
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/superfish.css">
	<link rel="stylesheet" href="../../../static/css/flexslider.css">


	</head>
	<body>
		<script src="static/js/modernizr-2.6.2.min.js"></script>

		<div class="container-fluid pt70 pb70">
			<div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
			<h1 style="font-size: 30px">{{ category_name }}</h1>
			{% for product in products %}
			{% if product.product_category.category_slug == category %}
				<div class="fh5co-project masonry-brick">
					<img style="width: 30vh; height: 30vh;" src="{{ product.product_image_1.url }}">
					<img style="width: 30vh; height: 30vh;" src="{{ product.product_image_2.url }}">
					<h2 style="font-size: 15px">{{ product.product_name }}| {{ product.product_brand }}</h2>
					<h4 style="font-size: 10px">{{ product.product_category }} | {{ product.product_price }} cents</h4>
					<h5 style="font-size: 10px">{{ product.product_description }}</h5>
					<form class="text-center border border-light p-5" action="{% url 'store:success' %}" method="POST">
        {% csrf_token %}

        <script src="https://checkout.razorpay.com/v1/checkout.js" 
        data-key="rzp_test_ynwI52voLx0Ltq" 
        data-amount="{{ product.product_price}}"
        x=float(data-amount)*100
        data-amount=str(x) 
        data-currency="USD" 
        data-order_id="{{payment.id}}" 
        data-buttontext="Pay with Razorpay"
        data-name="Pay with Razorpay"
        data-description="Toysly"
        data-image="https://d6xcmfyh68wv8.cloudfront.net/assets/razorpay-glyph.svg" 
        data-prefill.name="PC"
        data-prefill.email="abc@email.com" 
        data-theme.color="#F37254"></script>

    </form>
					<!-- <a style="padding-right: 60px;" href="#"><h3 style="font-size: 15px">Buy Now</h3></a> -->
				</div>
			{% endif %}
			{% endfor %}
			</div>
			<!--END .fh5co-projects-feed-->
		</div>
		<!-- END .container-fluid -->


		<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- masonry -->
	<script src="static/js/jquery.masonry.min.js"></script>
	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>
		


	</body>
</html>
{% endblock %}